In [26]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [27]:
df = pd.read_csv('original_data.csv')
df

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action
0,-0.007577,1.408559,-7.674955e-01,-1.049699e-01,0.008787,1.738492e-01,0,0,3
1,-0.015080,1.405617,-7.570502e-01,-1.308139e-01,0.015491,1.341034e-01,0,0,3
2,-0.022517,1.402089,-7.488564e-01,-1.568784e-01,0.020541,1.010064e-01,0,0,3
3,-0.029875,1.397969,-7.388699e-01,-1.831327e-01,0.023582,6.082692e-02,0,0,3
4,-0.037145,1.393242,-7.278200e-01,-2.101228e-01,0.024409,1.654167e-02,0,0,3
...,...,...,...,...,...,...,...,...,...
4460,0.033173,-0.001067,5.220000e-08,2.800000e-10,0.001681,-8.620000e-08,1,1,0
4461,0.033173,-0.001067,-1.430000e-08,-5.730000e-11,0.001681,2.530000e-08,1,1,0
4462,0.033173,-0.001067,-4.650000e-08,-5.460000e-11,0.001681,9.920000e-08,1,1,0
4463,0.033173,-0.001067,-4.530000e-08,-5.450000e-11,0.001681,8.420000e-08,1,1,0
4464,0.033173,-0.001067,-3.980000e-08,1.630000e-10,0.001681,9.620000e-08,1,1,0

In [28]:
df.describe()

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action
count,4465.000000,4465.000000,4465.000000,4465.000000,4465.000000,4.465000e+03,4465.000000,4465.000000,4465.000000
mean,-0.151863,0.517362,-0.003382,-0.168617,-0.052952,-7.199047e-07,0.129227,0.131691,1.440761
std,0.155060,0.513906,0.294252,0.181480,0.163220,1.035831e-01,0.335489,0.338192,1.043475
min,-0.525975,-0.007730,-0.807556,-0.684484,-0.601184,-3.034098e-01,0.000000,0.000000,0.000000
25%,-0.288580,0.038590,-0.040733,-0.315507,-0.111561,-4.791979e-02,0.000000,0.000000,0.000000
50%,-0.123860,0.296307,0.031647,-0.112978,0.001681,3.310000e-07,0.000000,0.000000,2.000000
75%,-0.001740,1.046288,0.204551,-0.011707,0.054152,4.095131e-02,0.000000,0.000000,2.000000
max,0.056517,1.504172,0.507975,0.454819,0.248737,3.606487e-01,1.000000,1.000000,3.000000

In [29]:
bin_posx = [-0.5260,-0.3794,-0.1448,-0.1371, -0.1367,-0.0884,-0.0496, -0.0495, -0.0312, -0.0310,-0.0069,0.0095,0.0096, 0.0108,0.0109, 0.0324,0.0332, 0.0333,0.0566]
bin_posy = [-0.0077,-0.0011,-0.000506,-0.000504, -0.000079,-0.000025, 0.0649, 0.1728,0.4660,1.0987,1.3385,1.3782,1.4326,1.5042]
bin_vlex = [-0.8075,-0.7203,-0.6523, -0.6260, -0.4819,-0.1684,-0.0044,-0.0001,0.000097,0.0057,0.1777,0.3404,0.5080]
bin_vely = [-0.6844,-0.3679, -0.1831,-0.0059,-0.0004,-0.000001,0,0.0004,0.0771, 0.2109,0.4549]
bin_ang =[-0.6011,-0.4160,-0.1136,-0.0056, 0.0003,0.0038,0.0078,0.0273,0.2488]
bin_angvel = [-0.3034,-0.1671,-0.0796,-0.0003,-0.000092,0.000045,0.0010,0.0448,0.1489,0.3607]

In [30]:
pos_x = pd.cut(df['pos x'], bin_posx).astype(str)
pos_y = pd.cut(df['pos y'], bin_posy).astype(str)
vel_x = pd.cut(df['vel x'], bin_vlex).astype(str)
vel_y = pd.cut(df['vel y'], bin_vely).astype(str)
angle = pd.cut(df['angle'], bin_ang).astype(str)
angleVel = pd.cut(df['angleVel'], bin_angvel).astype(str)
contact_1 =pd.cut(df['contact_1'], 2).astype(str)
contact_2 =pd.cut(df['contact_2'], 2).astype(str)
df['pos x'] = pos_x
df['pos y'] = pos_y
df['vel x'] = vel_x
df['vel y'] = vel_y
df['angle'] = angle
df['angleVel'] = angleVel
df['contact_1'] = contact_1
df['contact_2'] = contact_2

In [31]:
df

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action
0,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.149, 0.361]","(-0.001, 0.5]","(-0.001, 0.5]",3
1,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",3
2,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",3
3,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.368, -0.183]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",3
4,"(-0.0495, -0.0312]","(1.378, 1.433]","(-0.808, -0.72]","(-0.368, -0.183]","(0.0078, 0.0273]","(0.001, 0.0448]","(-0.001, 0.5]","(-0.001, 0.5]",3
...,...,...,...,...,...,...,...,...,...
4460,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(0.0, 0.0004]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0
4461,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0
4462,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0
4463,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0
4464,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(0.0, 0.0004]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0

In [32]:
def getlevelx(a):
    if a==0:
        return "No action"
    elif a==1:
        return "Fire left engine"
    elif a==2:
        return "Fire down engine"
    else:
        return "Fire right engine"

In [33]:
df['class']=df.apply(lambda x: getlevelx(x['action']),axis=1)
df

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action,class
0,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.149, 0.361]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
1,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
2,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
3,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.368, -0.183]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
4,"(-0.0495, -0.0312]","(1.378, 1.433]","(-0.808, -0.72]","(-0.368, -0.183]","(0.0078, 0.0273]","(0.001, 0.0448]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
...,...,...,...,...,...,...,...,...,...,...
4460,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(0.0, 0.0004]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4461,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4462,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4463,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4464,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(0.0, 0.0004]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",0,No action

In [34]:
df_new = df.drop(columns=['action'])
df_new

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,class
0,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.149, 0.361]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
1,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
2,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.183, -0.0059]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
3,"(-0.031, -0.0069]","(1.378, 1.433]","(-0.808, -0.72]","(-0.368, -0.183]","(0.0078, 0.0273]","(0.0448, 0.149]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
4,"(-0.0495, -0.0312]","(1.378, 1.433]","(-0.808, -0.72]","(-0.368, -0.183]","(0.0078, 0.0273]","(0.001, 0.0448]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
...,...,...,...,...,...,...,...,...,...
4460,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(0.0, 0.0004]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",No action
4461,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",No action
4462,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",No action
4463,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(-1e-06, 0.0]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",No action
4464,"(0.0324, 0.0332]","(-0.0011, -0.000506]","(-0.0001, 9.7e-05]","(0.0, 0.0004]","(0.0003, 0.0038]","(-9.2e-05, 4.5e-05]","(0.5, 1.0]","(0.5, 1.0]",No action

In [35]:
train, test = train_test_split(df_new, test_size=0.3)
train.to_csv('train_MDLP.csv', index=False)
test.to_csv('test_MDLP.csv', index=False)