In [69]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

In [70]:
df = pd.read_csv('original_data.csv')
df

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action
0,-0.007577,1.408559,-7.674955e-01,-1.049699e-01,0.008787,1.738492e-01,0,0,3
1,-0.015080,1.405617,-7.570502e-01,-1.308139e-01,0.015491,1.341034e-01,0,0,3
2,-0.022517,1.402089,-7.488564e-01,-1.568784e-01,0.020541,1.010064e-01,0,0,3
3,-0.029875,1.397969,-7.388699e-01,-1.831327e-01,0.023582,6.082692e-02,0,0,3
4,-0.037145,1.393242,-7.278200e-01,-2.101228e-01,0.024409,1.654167e-02,0,0,3
...,...,...,...,...,...,...,...,...,...
4460,0.033173,-0.001067,5.220000e-08,2.800000e-10,0.001681,-8.620000e-08,1,1,0
4461,0.033173,-0.001067,-1.430000e-08,-5.730000e-11,0.001681,2.530000e-08,1,1,0
4462,0.033173,-0.001067,-4.650000e-08,-5.460000e-11,0.001681,9.920000e-08,1,1,0
4463,0.033173,-0.001067,-4.530000e-08,-5.450000e-11,0.001681,8.420000e-08,1,1,0
4464,0.033173,-0.001067,-3.980000e-08,1.630000e-10,0.001681,9.620000e-08,1,1,0

In [71]:
df.describe()

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action
count,4465.000000,4465.000000,4465.000000,4465.000000,4465.000000,4.465000e+03,4465.000000,4465.000000,4465.000000
mean,-0.151863,0.517362,-0.003382,-0.168617,-0.052952,-7.199047e-07,0.129227,0.131691,1.440761
std,0.155060,0.513906,0.294252,0.181480,0.163220,1.035831e-01,0.335489,0.338192,1.043475
min,-0.525975,-0.007730,-0.807556,-0.684484,-0.601184,-3.034098e-01,0.000000,0.000000,0.000000
25%,-0.288580,0.038590,-0.040733,-0.315507,-0.111561,-4.791979e-02,0.000000,0.000000,0.000000
50%,-0.123860,0.296307,0.031647,-0.112978,0.001681,3.310000e-07,0.000000,0.000000,2.000000
75%,-0.001740,1.046288,0.204551,-0.011707,0.054152,4.095131e-02,0.000000,0.000000,2.000000
max,0.056517,1.504172,0.507975,0.454819,0.248737,3.606487e-01,1.000000,1.000000,3.000000

In [72]:
df.dtypes

pos x        float64
pos y        float64
vel x        float64
vel y        float64
angle        float64
angleVel     float64
contact_1      int64
contact_2      int64
action         int64
dtype: object

In [73]:
pos_x = pd.cut(df['pos x'], 6).astype(str)
pos_y = pd.cut(df['pos y'], 6).astype(str)
vel_x = pd.cut(df['vel x'], 6).astype(str)
vel_y = pd.cut(df['vel y'], 6).astype(str)
angle = pd.cut(df['angle'], 6).astype(str)
angleVel = pd.cut(df['angleVel'], 6).astype(str)
df['pos x'] = pos_x
df['pos y'] = pos_y
df['vel x'] = vel_x
df['vel y'] = vel_y
df['angle'] = angle
df['angleVel'] = angleVel

In [74]:
df

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action
0,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.115, 0.0751]","(-0.0346, 0.107]","(0.139, 0.25]",0,0,3
1,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]",0,0,3
2,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]",0,0,3
3,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]",0,0,3
4,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(-0.0821, 0.0286]",0,0,3
...,...,...,...,...,...,...,...,...,...
4460,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]",1,1,0
4461,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]",1,1,0
4462,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]",1,1,0
4463,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]",1,1,0
4464,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]",1,1,0

In [75]:
df.dtypes

pos x        object
pos y        object
vel x        object
vel y        object
angle        object
angleVel     object
contact_1     int64
contact_2     int64
action        int64
dtype: object

In [76]:
contact_1 = pd.cut(df['contact_1'],2).astype(str)
contact_2 = pd.cut(df['contact_2'],2).astype(str)
df['contact_1']=contact_1
df['contact_2']=contact_2

In [77]:
df

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action
0,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.115, 0.0751]","(-0.0346, 0.107]","(0.139, 0.25]","(-0.001, 0.5]","(-0.001, 0.5]",3
1,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",3
2,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",3
3,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",3
4,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(-0.001, 0.5]","(-0.001, 0.5]",3
...,...,...,...,...,...,...,...,...,...
4460,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0
4461,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0
4462,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0
4463,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0
4464,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0

In [78]:
df.dtypes

pos x        object
pos y        object
vel x        object
vel y        object
angle        object
angleVel     object
contact_1    object
contact_2    object
action        int64
dtype: object

In [79]:
def getlevelx(a):
    if a==0:
        return "No action"
    elif a==1:
        return "Fire left engine"
    elif a==2:
        return "Fire down engine"
    else:
        return "Fire right engine"

In [80]:
df['class']=df.apply(lambda x: getlevelx(x['action']),axis=1)
df

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,action,class
0,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.115, 0.0751]","(-0.0346, 0.107]","(0.139, 0.25]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
1,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
2,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
3,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
4,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(-0.001, 0.5]","(-0.001, 0.5]",3,Fire right engine
...,...,...,...,...,...,...,...,...,...,...
4460,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4461,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4462,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4463,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0,No action
4464,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",0,No action

In [81]:
df_new = df.drop(columns=['action'])
df_new

,pos x,pos y,vel x,vel y,angle,angleVel,contact_1,contact_2,class
0,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.115, 0.0751]","(-0.0346, 0.107]","(0.139, 0.25]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
1,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
2,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
3,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(0.0286, 0.139]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
4,"(-0.0406, 0.0565]","(1.252, 1.504]","(-0.809, -0.588]","(-0.305, -0.115]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(-0.001, 0.5]","(-0.001, 0.5]",Fire right engine
...,...,...,...,...,...,...,...,...,...
4460,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",No action
4461,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",No action
4462,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",No action
4463,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",No action
4464,"(-0.0406, 0.0565]","(-0.00924, 0.244]","(-0.15, 0.0695]","(-0.115, 0.0751]","(-0.0346, 0.107]","(-0.0821, 0.0286]","(0.5, 1.0]","(0.5, 1.0]",No action

In [82]:
df_new.dtypes

pos x        object
pos y        object
vel x        object
vel y        object
angle        object
angleVel     object
contact_1    object
contact_2    object
class        object
dtype: object

In [83]:
train, test = train_test_split(df_new, test_size=0.3)
train.to_csv('train_1.csv', index=False)
test.to_csv('test_1.csv', index=False)